<nav id="sidebar" class="d-md-block  sidebar">
    <div class="text-center">
        <img src="assets/images/logo.png" alt="Logo" class="img-fluid mt-3 mb-3 w-100" >
    </div>

    <ul class="nav flex-column">
        <!-- Menu Items -->

        <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" [ngClass]="{'text-dark': isActive('/')}">
                <i class="fa-solid fa-house"></i>
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Home</span>
            </a>
        </li>

             
        

      

        <!-- <li class="nav-item">
            <a routerLink="/explore" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" [ngClass]="{'text-dark': isActive('/explore')}">

                <i class="fa-solid fa-compass"></i>
                
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Explore</span>
            </a>
        </li> -->


        <li class="nav-item">
            <a routerLink="/direct/inbox" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" [ngClass]="{'text-dark': isActive('/reels')}">

                <i class="fa-solid fa-message"></i>
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Messages</span>
            </a>
        </li>

       

   
        <li class="nav-item">
            <a  routerLinkActive="active" class="nav-link d-flex align-items-center" [ngClass]="{'text-dark': isActive('/reels')}">
                <i class="fa-regular fa-heart"></i>
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Notifications</span>
            </a>
        </li>

        <li class="nav-item">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  Dropdown button
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link 1</a></li>
                  <li><a class="dropdown-item" href="#">Link 2</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
              </div> 
        </li>
      
      
        <li class="nav-item">
            <a routerLink="/devngecu" routerLinkActive="active" class="nav-link d-flex align-items-center" [ngClass]="{'text-dark': isActive('/reels')}">

            <div class="d-flex align-items-center">
                <!-- Profile image -->
                <img src="assets/images/profiles/profile-1.jpg" alt="User 2 Profile" class="rounded-circle mr-2" style="max-width: 40px;">
        
                <!-- Name and username -->
                <div class="px-2">
                    <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Profile</span>
                </div>
              </div>

               
                
            </a>
        </li>
      


       
        <li class="nav-item">
            <a routerLink="/direct/inbox" routerLinkActive="active" class="nav-link d-flex align-items-center" [ngClass]="{'text-dark': isActive('/reels')}">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">More</span>
            </a>
        </li>

        


       
    </ul>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div
                        class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-3.jpg" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                    <strong class="ml-3 sugest-username">instagram</strong>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div
                        class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                    <strong class="ml-3 sugest-username">dccomics</strong>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div
                        class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-5.jpg" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                    <strong class="ml-3 sugest-username">thecw</strong>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig">Follow</button>
            </div>
        </div>
       
      </div>
    </div>
  
    <div class="modal fade" id="createModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Create Options</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">Go Live</li>
                    <li class="list-group-item">New Post</li>
                    
                  </ul> 
            </div>
            
      
           
            
      
          </div>
        </div>
      </div>