<nav id="sidebar" class="d-md-block  sidebar" style="overflow: hidden;">
    <div class="text-center">
        <img src="assets/images/logo.png" alt="Logo" class="img-fluid mt-3 mb-3 w-100" >
    </div>

    <ul class="nav flex-column">
  

 <!-- Home -->
<li class="nav-item">
    <a routerLink="/" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark">
        <i class="fa-solid fa-house"></i>
        <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Home</span>
    </a>
</li>


<li class="nav-item">
    <a routerLinkActive="active" data-cy="search-nav" class="nav-link d-flex align-items-center text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
        <i class="fa-solid fa-magnifying-glass"></i>
      <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Search</span>
    </a>
  </li>

<!-- Messages -->
<!-- <li class="nav-item">
    <a routerLink="/direct/inbox" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" [ngClass]="{'font-weight-bold': isActive('/direct/inbox')}">
        <div style="position: relative;">
            <i class="fa-regular fa-message"></i>
            <span class="badge badge-danger" style="position: absolute; top: 0px; right: -10px; font-size: 0.9rem; padding: 4px 6px; border-radius: 50%;">
               1
            </span>
        </div>
        <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Messages</span>
    </a>
</li>



<li class="nav-item">
    <a routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" [ngClass]="{'font-weight-bold': isActive('/notifications')}">
        <i class="fa-solid fa-bell"></i>
        <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Notifications</span>
    </a>
</li> -->


<li class="nav-item">
    <a  class="nav-link d-flex align-items-center text-dark"  data-bs-toggle="modal" data-bs-target="#add_post">
        <i class="fa-solid fa-plus"></i>
        <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Add Post</span>
    </a>
    <div id="demo" class="collapse">
        <ul class="list-group">
          
            <li class="list-group-item">
                <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight" class="nav-link d-flex align-items-center text-dark">
                    Post
                </a>
            </li>
        </ul>
    </div>
</li>



      
        <li class="nav-item">
           
            <a [routerLink]="['/profile', username]" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" data-cy="update-router-link">                <i class="fa-solid fa-address-card"></i>

                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Profile</span>
            </a>

        </li>
      


       
        <li class="nav-item">
            <a (click)="Logout()"   routerLinkActive="active" class="nav-link d-flex align-items-center text-danger">
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Logout</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="Deactivate()"   routerLinkActive="active" class="nav-link d-flex align-items-center text-danger">
                <span class="ml-2" style="font-size: 1.2rem; margin-left: 8px; padding: 4px 0;">Deactivate</span>
            </a>
        </li>

    

        


       
    </ul>
</nav>


  