<!-- <app-navbar></app-navbar> -->
<nav class="navbar navbar-expand-lg" id="top-mobile-nav">
  <div class="container">
    <a class="navbar-brand" routerLink="/">TALKY</a>
<div class="d-flex">
  <div class="mx-2">
    <a routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
      <div style="position: relative;">
      <i class="fa-regular fa-heart"></i>
      </div>
  </a>
  </div>
  <div class="mx-2">
    <a routerLink="/direct/inbox" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark">
      <div style="position: relative;">
          <i class="fa-regular fa-message"></i>
          <!-- Add a red background with a number counter -->
          <span class="badge badge-danger" style="position: absolute; top: 0px; right: -10px; font-size: 0.9rem; padding: 4px 6px; border-radius: 50%;">
             1
          </span>
      </div>
  </a> 
  </div>
 

  
</div>
 
  </div>
  
</nav>

<div class="container">
  <nav class="navbar navbar-expand-lg fixed-bottom" id="bottom-mobile-nav" style="background-color: white;">

    <div class="d-flex w-100">
      <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" routerLink="/profile/devngecu"> <i class="fa-solid fa-house"></i></a>

      <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" routerLinkActive="active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>

      <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#demo" aria-expanded="false">
        <i class="fa-solid fa-plus"></i>
      </a>

      <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" routerLink="/profile/devngecu" routerLinkActive="active">
        <i class="fa-solid fa-address-card"></i>
      </a>
    </div>

  </nav>
</div>


<div class="container-fluid">
   <div class="row">

 <!-- <div class="container d-flex justify-content-center"> -->
  <app-sidebar  class="col-2 d-md-block sidebar" style="border-right: solid 1px #DBDBDB;"></app-sidebar>

  <div *ngIf="showSpinners" class="full-height-container">
    <div class="container d-flex justify-content-center align-items-center">
      <span class="loader"></span>
    </div>
  </div>
  

  <div *ngIf="!showSpinners" class="col-md-10">
    <main class="w-100">
     
      <div class="left_row">
        <div class="left_row_profile">
          <img id="portada" src="../../assets/images/portada.jpg" />
          <div class="left_row_profile">
        <img id="profile_pic" src="{{profileImage}}" />
            <span
              >{{fullName}}<br />
              <p>150k followers / 50 follow</p></span
            >
          </div>
        </div>
        </div>


   </main>
 </div>
</div>
</div>




<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightr" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Edit Profile</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">


      <div class="row">
       
        <div class="col-12">
          <div class="form-group">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Drop Profile Image</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
          </ngx-dropzone>   
          <div class="row">
            <img *ngFor="let file of files" [src]="file.url" />
          </div>
                             </div>
        </div>
      </div>
  
  
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label for="FullName">Mobile Number</label>
            <input type="text" class="form-control" id="yourName" placeholder="Mobile"  formControlName="mobile" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="FullName">Full Name</label>

            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name"  formControlName="fullName" />
          </div>
        </div>
      
        <div class="col-md-12">
          <div class="form-group">
                        <label for="FullName">Username</label>

            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Username" value="@" formControlName="username" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
                                    <label for="FullName">Username</label>

            <label for="FullName">Email Address</label>

            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email address" formControlName="email"  />
          </div>
        </div>
      
        <div class="col-md-12">
          <div class="form-group">
            <label for="FullName">Password</label>

            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password" />
          </div>
        </div>
      
        <div class="col-md-12">
          <div class="form-group">
            <label for="FullName">Confirm Password</label>

            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" formControlName="confirmPassword" />
          </div>
        </div>
      
      </div>
      

      
    <button type="submit" class="btn btn-primary btn-block w-100">Register</button>
</form>     
  </div>
</div>



