<div class="my-2 container">
  <app-mobile-navs></app-mobile-navs>
  <div class="container-fluid">
  
    
      <div class="row">
    <app-sidebar  class="col-2 d-md-block sidebar" style="border-right: solid 1px #DBDBDB;"></app-sidebar>

  <div *ngIf="showSpinners" class="full-height-container">
    <div class="container d-flex justify-content-center align-items-center">
      <span class="loader"></span>
    </div>
  </div>
  

  <div *ngIf="!showSpinners" class="col-md-10">
    <main class="w-100">
     
      <div class="left_row">
        <div class="left_row_profile">
          <img id="portada" src="https://png.pngtree.com/background/20230616/original/pngtree-modern-profile-web-banner-background-in-3d-render-picture-image_3652219.jpg" />
          <div class="left_row_profile">
        <img id="profile_pic" src="{{profileImage}}" />
        <div class="d-flex">
          <span
          >{{fullName}}<br />
          <p>150k followers / 50 follow</p> </span>
        <span> <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_profile" data-cy="edit-profile-btn">Edit Profile</a></span>

        </div>
           
          </div>
        </div>
        </div>


   </main>
 </div>
</div>
</div>
</div>





<div class="modal fade" id="edit_profile">
  <div class="modal-dialog">
    <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Edit Profile</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="left_row">
                <div class="left_row_profile">
                  <img id="portada" src="https://png.pngtree.com/background/20230616/original/pngtree-modern-profile-web-banner-background-in-3d-render-picture-image_3652219.jpg" />
                  <div class="left_row_profile">
                <img id="profile_pic" src="{{profileImage}}" />
                <div class="d-flex">
                  <span
                  >{{fullName}}<br />
                  <p>150k followers / 50 follow</p> </span>
                
        
                </div>
                   
                  </div>
                </div>
                </div>

                <form (ngSubmit)="updateUser()" #userForm="ngForm">
                  <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" data-cy="fullName" id="fullName" name="fullName" class="form-control" [(ngModel)]="userDetails.fullName">
                  </div>
                
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="userDetails.email" disabled>
                  </div>
                
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" data-cy="username" name="username" class="form-control" [(ngModel)]="userDetails.username" >
                  </div>
                
                  <div class="form-group">
                    <label for="phone_no">Phone Number</label>
                    <input type="text" id="phone_no" name="phone_no" class="form-control" [(ngModel)]="userDetails.phone_no" disabled>
                  </div>
                
                  <button class="btn btn-primary text-white" type="submit" data-cy="update-btn">Update User</button>
                </form>
                

                
            </div>

    </div>
  </div>
</div>



