<div *ngIf="showSpinners">
     <div class="container d-flex justify-content-center">
    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-warning"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-grow text-secondary"></div>
    <div class="spinner-grow text-dark"></div>
    <div class="spinner-grow text-light"></div>
    </div>
  </div>

  <div *ngIf="!showSpinners" class="p-4">
<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
    <div class="row">

  <!-- <div class="container d-flex justify-content-center"> -->
  <app-sidebar  class="col-2 d-md-block bg-light sidebar"></app-sidebar>

    <main class="col-10">
      <div class="row">
        <div class="col-8">
          <app-story></app-story>
          <app-post></app-post>
        </div>
        <div class="col-4">
          <app-suggestions></app-suggestions>
          
        </div>
      </div>

    </main>
  </div>
</div>
</div>