<div *ngIf="showSpinners">
    <div class="container d-flex justify-content-center">
   <div class="spinner-grow text-muted"></div>
   <div class="spinner-grow text-primary"></div>
   <div class="spinner-grow text-success"></div>
   <div class="spinner-grow text-info"></div>
   <div class="spinner-grow text-warning"></div>
   <div class="spinner-grow text-danger"></div>
   <div class="spinner-grow text-secondary"></div>
   <div class="spinner-grow text-dark"></div>
   <div class="spinner-grow text-light"></div>
   </div>
 </div>

 <div *ngIf="!showSpinners" class="p-4">
<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
   <div class="row">

 <!-- <div class="container d-flex justify-content-center"> -->
 <app-sidebar  class="col-2 d-md-block bg-light sidebar"></app-sidebar>

   <main class="col-10">
    

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                <div class="list-group">
                    <div  *ngFor="let user of userList" class="list-group-item"  (click)="selectUserHandler(user.phone)">
                      <div class="d-flex flex-row align-items-center">
                        <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-danger post-profile-photo mr-3">
                          <img src="assets/images/profiles/profile-1.jpg" alt="..." style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                        </div>
                        <span class="font-weight-bold px-2">{{user.name}}</span>
                        <span class="text-muted"> &middot; </span>
                        <span class="text-muted">3 days</span>
                      </div>
                    </div>

                   
              
            </div>
            </div>

            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                <div class="card">
                    <div class="card-header">Chat</div>
                    <div class="card-body height3">
                      <div class="chat-container">
                        <ng-container *ngIf="selectedUser">
                          <div class="chat-header">
                
                            <img [src]="selectedUser?.image"
                                 [alt]="selectedUser?.name"
                                 class="avatar"
                            />
                            <p class="username">{{selectedUser?.name}}</p>
                
                          </div>
                
                          <div class="chat-body">
                            <div *ngFor="let item of messageArray"
                                 
                            >
                              <p class="message-container">{{item?.message}}</p>
                            </div>
                          </div>
                
                          <div class="chat-footer">
                
                            <div class="row">
                              <div class="col-md-10">
                                <div class="form-group mb-0">
                                  <input type="text"
                                         placeholder="Type a message"
                                         class="form-control"
                                         [(ngModel)]="messageText"
                                         (keyup)="$event.keyCode === 13 && sendMessage()"
                                  />
                                </div>
                              </div>
                
                              <div class="col-md-2 text-center align-self-center">
                                <button class="btn btn-primary btn-sm px-3"
                                        (click)="sendMessage()">Send
                                </button>
                              </div>
                            </div>
                
                          </div>
                        </ng-container>
                      </div>
                
                   


                        <!-- <ul class="chat-list">
                            <li class="in">
                                <div class="chat-img">
                                    <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Jimmy Willams</h5>
                                        <p>Raw denim heard of them tofu master cleanse</p>
                                    </div>
                                </div>
                            </li>
                            <li class="out">
                                <div class="chat-img">
                                    <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Serena</h5>
                                        <p>Next level veard</p>
                                    </div>
                                </div>
                            </li>
                            <li class="in">
                                <div class="chat-img">
                                    <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5 class="name">Jimmy Willams</h5>
                                        <p>Will stumptown scenes coffee viral.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="out">
                                <div class="chat-img">
                                    <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Serena</h5>
                                        <p>Tofu master best deal</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <input type="text"
                        placeholder="Type a message"
                        class="form-control"
                        [(ngModel)]="messageText"
                        (keyup)="$event.keyCode === 13 && sendMessage()"
                 /> -->
                    </div>
                </div>
            </div>
           
        </div>
 
   
   </main>
 </div>
</div>
</div>