<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Talky</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
        }

        th {
            background-color: #1DA1F2;
            color: #ffffff;
            font-size: 24px;
            text-align: center;
            padding: 20px;
        }

        td {
            padding: 20px;
            text-align: center;
        }

        p {
            font-size: 16px;
            color: #333333;
            line-height: 1.5;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1DA1F2;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Someone tagged you <%=Name%>!</th>
        </tr>
        <tr>
            <td>
                <p>
                    Hi <%=Name%>, You have been tagged in one of the posts🎉.Kindly logg in to check
                </p>
            
                <p>
                </p>
              
               
            </td>
        </tr>
    </table>
</body>
</html>
