<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment tagged</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
body{
    margin-top:20px;
    background:#ddd;
}

.widget .panel, .widget.panel {
    border-bottom-width: 1px;
    border-bottom-color: #cfd9db;
    overflow: hidden;
}

.widget {
    margin-bottom: 20px;
}

.panel {
    position: relative;
    border-width: 1px;
    border-color: #cfd9db;
    border-radius: 3px;
    -webkit-box-shadow: 0 .0625rem .0625rem rgba(0,0,0,.05);
    box-shadow: 0 .0625rem .0625rem rgba(0,0,0,.05);
}

.panel-body {
    position: relative;
}

.mb0 {
    margin-bottom: 0!important;
}

.text-info {
    color: #22A7F0!important;
}

.list-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-table>li:first-child {
    padding-left: 0;
}

.list-table>li {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    width: auto;
    padding: 0 5px;
}

.img-bordered-primary {
    -webkit-box-shadow: 0 0 0 2px #fff,0 0 0 4px #446CB3;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #446CB3;
}

.img-circle {
    border-radius: 50%!important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.semibold {
    font-weight: 600;
}
.nm {
    margin: 0!important;
}
</style>
</head>
<body>
Hello,You have been mentioned in the followowing comment
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4 bootstrap snippets bootdeys">
            <div class="widget panel">
              <div class="panel-body">
                <h4 class="mb0">Latest Post
                  <i class="fa fa-twitter text-info pull-right"></i>
                </h4>
                <hr>
                <ul class="list-table">
                  <li style="width:70px;">
                    <img class="img-circle img-bordered-primary" src="<%=profileImage%>" alt="" width="65px" height="65px">
                  </li>
                  <li class="text-left">
                    <h5 class="semibold ellipsis nm"><%=Name%></h5>
                    <p class="text-muted nm">5k followers</p>
                  </li>
                  <li class="text-right">
                    <button type="button" class="btn btn-sm btn-success">Follow</button>
                  </li>
                </ul>
              </div>
        
              <ul class="list-group">
                <li class="list-group-item">
                  <p class="nm"><%=postContent%> </p>
                  <small class="text-muted">Now</small>
                </li>
                
              </ul>
            </div>
        </div>
        </div>
        </div>

        
  
  </body>
</html>