<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Login Page</h3>
                                </div>
                               
                                <form>


                                      <div class="row">
                                       
                                        <div class="col-12">
                                          <div class="form-group">
                                            <label for="exampleInputEmail1">Full Name/Username/Email</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" />
                                          </div>
                                        </div>
                                      </div>
                                  
                                  
                                  
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" />
                                          </div>
                                        </div>

                                        

                                      </div>

                                      
                                    <button type="submit" class="btn btn-theme btn-block w-100">Login</button>
                                </form>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <img class="w-100" src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="w-100" src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="">

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4"></h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
            <p class="text-muted text-center mt-3 mb-0">
                Don't have an account? 
                <a routerLink="/login" class="text-primary ml-1">Sign up</a>
              </p>
              
            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
