<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Forgot Password</h3>
                                </div>
                               
                                <form>

                                
                                     

                                      <div class="row">
                                        <div class="col-12">
                                          <div class="form-group">
                                            <label for="yourName">Username Mobile/Email</label>
                                            <input type="text" class="form-control" id="yourName" />
                                          </div>
                                        </div>
                                      
                                      </div>
                                  
                                      
                                    <button type="submit" class="btn btn-theme btn-block w-100">Send Login Link</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4"></h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
            
              
            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
