<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notifications</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Today's Suggestions -->
        <div>
            <h6 class="text-muted mb-3">Today</h6>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-3.jpg" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">instagram</strong> who you might know </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
            <!-- Add more today's suggestions as needed -->
        </div>
  
        <!-- Last Week's Suggestions -->
        <div class="mt-4">
            <h6 class="text-muted mb-3">Yesterday</h6>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
            <!-- Add more last week's suggestions as needed -->
        </div>
  
        <div class="mt-4">
            <h6 class="text-muted mb-3">Last Week </h6>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> liked your post </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
  
            <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                        <img src="assets/images/profiles/profile-4.png" alt="..."
                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                    </div>
                   <span> <strong class="ml-3 sugest-username">dccomics</strong> started following you </span>
                </div>
                <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
            </div>
            <!-- Add more last week's suggestions as needed -->
        </div>
    </div>
  </div>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Create </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
   <div class="offcanvas-body">
  
   </div>
  </div>
  
  

  
  
  <!-- off-canvas-menu.component.html -->
  <div class="offcanvas offcanvas-start offcanvas-full" id="offcanvasLeft" tabindex="-1" aria-labelledby="offcanvasLeftLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLeftLabel">Search Users</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <input type="text" class="form-control mb-3" placeholder="Search users..." >      <!-- Display search results here -->
   
          
          <!-- Show a message when there are no search results -->
          
          
    </div>
  </div>
  
  
    

  <div class="modal fade" id="add_post">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Post</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="postForm" (ngSubmit)="sharePost()">

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <ngx-dropzone (change)="onSelectPostImage($event)">
                            <ngx-dropzone-label>Drop Post Image</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of postFiles" [removable]="true" (removed)="onRemovePostImage(f)">
                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </ngx-dropzone>
                        </div>
                      </div>
                  
                      <div class="col-6">
                        <div class="row">
                          <div class="col-12">
                            <label for="postType">Post Type</label>
                            <select class="form-control" formControlName="postType" id="postType">
                              <option value="Post">Post</option>
                              <option value="Status">Status</option>
                            </select>
                          </div>
                  
                          <div class="col-12">
                            <label for="caption">Caption</label>
                            <textarea class="w-100 p-3 input-post" placeholder="Add a comment..." formControlName="caption"></textarea>
                            <div class="input-group-append">
                              <button data-toggle="collapse" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#emoji" aria-expanded="false" type="button">😀</button>
                            </div>
                          </div>
                  
                          <div id="emoji" class="collapse">
                            <div class="row">
                              <div class="col-12">
                                <emoji-mart
                                class="emoji-mart w-100"
                                
                                (emojiSelect)="addEmoji($event)"
                                title="Choose your emoji"
                              ></emoji-mart>
                            
                            </div>
                            </div>
                          </div>
                  
                          <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block w-100">Share</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </form>
                  
              </div>
  
      </div>
    </div>
  </div>

  <!-- <app-navbar></app-navbar> -->
  <nav class="navbar " id="top-mobile-nav">
    <div class="container">
      <a class="navbar-brand" routerLink="/">TALKY</a>
  <div class="d-flex">
    <div class="mx-2">
      <a routerLinkActive="active" class="nav-link d-flex align-items-center text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
        <div style="position: relative;">
          <i class="fa-solid fa-bell"></i>
        </div>
    </a>
    </div>
    <div class="mx-2">
      <a routerLink="/direct/inbox" routerLinkActive="active" class="nav-link d-flex align-items-center text-dark">
        <div style="position: relative;">
            <i class="fa-regular fa-message"></i>
            <!-- Add a red background with a number counter -->
            <span class="badge badge-danger" style="position: absolute; top: 0px; right: -10px; font-size: 0.9rem; padding: 4px 6px; border-radius: 50%;">
               1
            </span>
        </div>
    </a> 
    </div>
   
  
    
  </div>
   
    </div>
    
  </nav>
  
  <div class="container">
    <nav class="navbar fixed-bottom" id="bottom-mobile-nav" style="background-color: white;">
  
      <div class="d-flex w-100">
        <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" routerLink="/"> <i class="fa-solid fa-house"></i></a>
  
        <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" routerLinkActive="active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
  
        <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#add_post">
            <i class="fa-solid fa-plus"></i>
          </a>

        <a class="navbar-brand flex-fill d-flex align-items-center justify-content-center" routerLink="/profile/devngecu" routerLinkActive="active">
          <i class="fa-solid fa-address-card"></i>
        </a>
      </div>
  
    </nav>
  </div>
  
  