:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000; 
}

.nav-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #f5f5f5; /* Light background color on hover */
}
.nav-link{
    font-size: 25px;
}